{{> layouts/header }}
<section class="older-posts section" style="margin-top: 5rem;">

        <div class="container">

            <h1 class="title section-title" data-name="Publicaciones recientes">Publicaciones recientes</h1>

            <div class="older-posts-grid-wrapper d-grid">
                {{#each data}}
                    {{> posts/mini_post }}
                {{else}}
                    Sin públicaciones
                {{/each}}
            </div>
            {{> posts/navigator }}
        </div>
    </section>
{{> layouts/footer }}