<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG - {{#if titleHTML}} {{ titleHTML }} {{else}} INICIO {{/if}}</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{#assets images/favicon.png}}">
    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- Swiper.js styles -->
    <link rel="stylesheet" href="{{#assets css/swiper-bundle.min.css}}" />
    <!-- Custom styles -->
    <link rel="stylesheet" href="{{#assets css/main.css}}">
    <!-- Swiper.js -->
    <script src="{{#assets js/swiper-bundle.min.js}}"></script>
</head>

<body>
{{> navbar/navbar }}
{{> searchs/homesearch }}
