<!-- Search -->
<div class="search-form-container container" id="search-form-container">

    <div class="form-container-inner">

        <form action="" class="form">
            <input class="form-input" type="text" placeholder="Buscar publicaciones..." id="search-input">
            <button class="btn form-btn" type="submit">
                <i class="ri-search-line"></i>
            </button>
        </form>
        <span class="form-note">o presiona ESC para cerra.</span>

    </div>

    <button class="btn form-close-btn place-items-center" id="form-close-btn">
        <i class="ri-close-line"></i>
    </button>

</div>